<!DOCTYPE html>
<head>
    <title>The WebSocket</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <div id="main-content" class="container" style="margin-top: 20px;">
    	<div class="row">
    		<form class="navbar-form" style="margin-left:-30px">
    			<div class="col-md-12">
    				<div class="form-group">
    					<label>WebSocket link:</label>
    					<button class="btn btn-primary" type="button" onclick="connect();">Connection</button>
    					<button class="btn btn-danger" type="button" onclick="disconnect();">Disconnection</button>	
    				</div>
    				<label>訂閱地址</label>
    				<div class="form-group">
    					<input type="text" id="subscribe" class="form-control" placeholder="輸入訂閱位置">
    				</div>
    				<button class="btn btn-warning" onclick="subscribeSocket();" type="button">訂閱</button>
    			</div>
    		</form>
    	</div>
    	<div class="row">
    		<div class="form-group">
    			<label for="content">訊息內容:</label> <!-- for指定與id為content的元素綁定， -->
    			<input type="text" id="content" class="form-control" placeholder="輸入要發送的訊息">
    		</div>
    		<button class="btn btn-info" onclick="sendMessageNoParameter();" type="button">發送</button>
    	</div>
    	</br>
    	<div class="row">
    		<div class="col-md-12">
    			<h5 class="page-header" style="font-weight:bold">接收訊息</h5>
    			<table class="table table-striped">
    				<tbody id="information"></tbody>
    			</table>
    		</div>
    	</div>
    </div>
</body>
</html>